[
  {
    "name": "skywatch blue",
    "did": "did:plc:e4elbtctnfqocyfcml6h2lf7",
    "labels": [
      "platform-manipulation",
      "suspect-inauthentic",
      "nazi-symbolism",
      "inauthentic-fundraising",
      "engagement-abuse",
      "follow-farming",
      "bulk-following"
    ]
  }
]
